div {
	box-sizing: border-box;
	float: left;
}

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	background-color: #fafafa;
}

.back1 {
	width: 35%;
	background-color: #ab3dfe;
	height: 650px;
	border-radius: 0 0 100% 100%;
	margin-left: -77px;
}

.box1{
	width: 18%;
	position: absolute;
	z-index: 1;
	background-color: hsl(270, 20%, 96%);
	border-radius: 30px;
	border: 10px solid white;
	top: 15%;
	left: 25%;
	box-shadow: 20px 20px 15px #8080801f;
}

#top{
	width: 100%;
	background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
	padding: 15px;
	padding-bottom: 0;
	border-radius: 15px 15px 5px 5px;
	border-top-style: hidden;
	box-shadow: 0px 5px 5px #8080801f;
	margin-bottom: 10px;
}

#blank {
	width: 50%;
	background-color: white;
	position: absolute;
	height: 13px;
	margin: 0 25%;
	border-radius: 0 0 10px 10px;
}

.box1>#top>img{
	border-radius: 100%;
	width: 20px;
	border: 1px solid white;
	text-align: center; 
	float: left;
	margin: 5px 10px;
}

.fa-angle-left{
	color: white;
	float: left;
	padding-top: 7px;
}

.box1>#top>p {
	color: white;
	font-weight: 500;
	font-size: 10px;
	margin: 5px;
}

#status{
	font-size: 8px;
	font-weight: 400;
}

.fa-ellipsis-v{
	float: right;
	color: white;
}

.answear {
	background-color: #ede5f4;
	float: left;
	width: 60%;
	padding: 5px;
	margin: 5px 10px;
	border-radius: 10px 10px 10px 5px;
	font-size: 8px;
	color:  hsl(276, 55%, 52%);
	line-height: 12px;
}

.reply {
	background-color: white;
	float: right;
	width: 55%;
	padding: 5px;
	margin: 5px 10px;
	border-radius: 10px 10px 5px 10px;
	font-size: 8px;
	color: hsl(271, 15%, 43%);
	line-height: 12px;
	box-shadow: 0px 5px 5px #8080801f;
}

.images> img {
	width: 15%;
	float: right;
	margin: 5px 10px 5px 0;
	border-radius: 10px;
}

.time {
	background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
	width: 75%;
	padding: 8px 15px;
	margin: 5px 10px;
	border-radius: 10px 10px 10px 5px;
	color: white;
	font-size: 8px;
}

.price {
	float: right;
	font-size: 16px;
	font-weight: 700;
}

#type {
	background-color: white;
	width: 90%;
	padding: 5px 10px;
	margin: 10px;
	border-radius: 15px;
	
}

#color{
	font-size: 8px;
	color: hsl(206, 6%, 79%);
}

.fa-chevron-circle-right {
	float: right;
}

.box2 {
	width: 30%;
	float: right;
	position: absolute;
	top: 35%;
	right: 20%;
	z-index: 1;
}

h1 {
	font-weight: 500;
}

p {
	font-size: 16px;
	color: hsl(270, 7%, 64%);
	font-weight: 400;
}

.back2 {
	width: 35%;
	background-color: #f7f5fa;
	height: 600px;
	border-radius: 100% 100% 0 0;
	bottom: 0;
	right: 0;
	position: absolute;
	margin-right: -170px;
}

.attribution {
	width: 100%;
	text-align: center;
	font-size: 10px;
	position: absolute;
	top: 100%;
}
